body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  background: #FBFBFB;
}

label, input {
  display: block;
}

.login-signup-buttons {
  padding: 20px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logout-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
}

.logged-username {
  margin-right: 15px;
  font-size: 12px;
}

.logout-button {
  background: #4420E7;
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 10px;
  color: #F1F6FD;
  font-size: 12px;
  cursor: pointer;
  font-family: Poppins;
}

.logout-button:hover {
  box-shadow: 4px 4px 10px #BABABA;
}

input {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
  padding-left: 15px;
  border: none;
  background-color: #FFFFFF;
  padding: 10px 20px;
  font-size: 16px;
  resize: none;
  font-family: Poppins;
}

.login-button, .signup-button {
  background: #4420E7;
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 10px;
  color: #F1F6FD;
  font-size: 12px;
  cursor: pointer;
  font-family: Poppins;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 40px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 20px #ddd;
}

.login-title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.login > input {
  border: 1px solid #ddd;
}

.login > button {
  margin-top: 15px;
  background: #4420E7;
  border: none;
  height: 40px;
  min-width: 200px;
  border-radius: 10px;
  color: #F1F6FD;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  font-family: Poppins;
}

.login > button:hover {
  box-shadow: 4px 4px 10px #BABABA;
  font-weight: 500;
}

.signup-cta {
  text-align: center;
  margin-top: 50px;
  font-size: 14px;
  font-weight: bold;
}

.signup-cta-button {
  margin-top: 15px;
  background: #4420E7;
  border: none;
  height: 40px;
  min-width: 200px;
  border-radius: 10px;
  color: #F1F6FD;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  font-family: Poppins;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-cta-button:hover {
  box-shadow: 4px 4px 10px #BABABA;
  font-weight: 500;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0%;
  width: 220px;
  height: 100vh;
  background: #FFFFFF;
}

.social-logo-container {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 50px;
  margin-left: 25px;
  width: 80%;
}

.social-logo {
  width: 30px;
  margin-bottom: 0px;
}

.social-logo-text {
  font-size: 18px;
  margin-left: 10px;
  font-weight: bold;
}

.blue {
  margin-left: .25em;
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-thickness: 3px;
}

.red {
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 3px;
}

.green {
  text-decoration: underline;
  text-decoration-color: green;
  text-decoration-thickness: 3px;
}

.sidebar > button {
  background: none;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
  font-family: Poppins;
  height: 30px;
  width: 80%;
  border-radius: 20px;
  padding: 20px 15px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.sidebar > button:hover {
  font-weight: bold;
  background: #FBFBFB;
}

.sidebar-icon {
  height: 20px;
  margin-right: 20px;
}

.main {
  margin-left: 220px;
  margin-bottom: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.topic-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  height: 50px;
  width: 70%;
  max-width: 600px;
  border: 1px solid lightgray;
  border-radius: 8px;
}

.topic-icon {
  height: 25px;
  margin-left: 10px;
}

.form-container {
  display: flex;
  justify-content: center;
  padding: 0px;
  width: calc(70% + 40px);
  max-width: 600px;
}

.form-flexbox {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  max-width: 600px;
}

.form-flexbox > form {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  width: calc(100% - 75px);
  max-width: 600px;
}

.profile-image-form {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
  align-self: flex-start;
}

.input-title {
  border: none;
  background-color: #FFFFFF;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 16px;
  resize: none;
  font-family: Poppins;
}

.input-title:focus {
  outline: none;
  box-shadow: 3px 3px 10px #DADADA;
}

.input-content {
  border: none;
  background-color: #FFFFFF;
  border: 1px solid lightgray;
  height: 75px;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 16px;
  resize: none;
  font-family: Poppins;
}

.input-content:focus {
  outline: none;
  box-shadow: 3px 3px 10px #DDDDDD;
}

.error {
  outline: 2px solid red;
}

.post-form-button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input-button {
  margin-top: 0px;
  background: #4420E7;
  border: none;
  height: 35px;
  width: 45%;
  border-radius: 10px;
  color: #F1F6FD;
  font-size: 16px;
  cursor: pointer;
  font-family: Poppins;
}

.input-button:hover {
  box-shadow: 4px 4px 10px #BABABA;
  font-weight: 500;
}

.cancel-button {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4420E7;
  border: none;
  height: 35px;
  width: 45%;
  border-radius: 10px;
  color: #F1F6FD;
  font-size: 16px;
  cursor: pointer;
  font-family: Poppins;
}

.input-error {
  margin-top: 0px;
  margin-bottom: 15px;
  color: red;
}

.post {
  border: .5px solid lightgray;
  border-radius: 8px;
  padding: 20px 20px;
  display: flex;
  width: 70%;
  max-width: 600px;
  background-color: #FFFFFF;
  margin-top: 40px;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
}

.post-content-container {
  margin-top: 0px;
  width: 600px;
  margin-left: 15px;
}

.post-top-row {
  display: flex;
  justify-content: space-between;
}

.author {
  margin-top: 10px;
  font-size: 12px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 25px;
}

.content {
  font-size: 14px;
}

.date {
  font-size: 10px;
}

.delete-button {
  background: #EB5429;
  border: none;
  height: 30px;
  padding: 0px 10px;
  border-radius: 10px;
  color: #F1F6FD;
  font-size: 12px;
  cursor: pointer;
  font-family: Poppins;
}