body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  background: #FBFBFB;
}

label, input {
  display: block;
}

.login-signup-buttons {
  display: flex;
  justify-content: flex-end;
}

.logout-button {
  display: flex;
  justify-content: flex-end;
}

input {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
  padding-left: 15px;
  border: none;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 5px #DADADA;
  padding: 10px 20px;
  font-size: 16px;
  resize: none;
  font-family: Poppins;
}

.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 40px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 20px #ddd;
}

.login-title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.login > button {
  margin-top: 15px;
  background: #4420E7;
  border: none;
  height: 40px;
  min-width: 200px;
  border-radius: 10px;
  color: #F1F6FD;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  font-family: Poppins;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0%;
  width: 130px;
  height: 100vh;
  background: #FFFFFF;
}

.social-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  margin-top: 50px;
}

.social-logo {
  width: 35px;
  margin-bottom: 0px;
}

.social-logo-text {
  font-size: 9px;
  margin-top: 5px;
  font-weight: bold;
}

.blue {
  margin-left: .25em;
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-thickness: 3px;
}

.red {
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 3px;
}

.green {
  text-decoration: underline;
  text-decoration-color: green;
  text-decoration-thickness: 3px;
}

.sidebar > button {
  background: none;
  border: none;
  margin-bottom: 30px;
  cursor: pointer;
  font-family: Poppins;
}

.sidebar > button:hover {
  font-weight: bold;
}

.main {
  margin-left: 130px;
  margin-bottom: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.form-container {
  display: flex;
  justify-content: center;
  padding: 0px;
  width: calc(70% + 40px);
  max-width: 600px;
}

.form-flexbox {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  max-width: 600px;
}

.form-flexbox > form {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  width: calc(100% - 75px);
  max-width: 600px;
}

.profile-image-form {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
  align-self: flex-start;
}

.input-title {
  border: none;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 5px #DADADA;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 16px;
  resize: none;
  font-family: Poppins;
}

.input-title:focus {
  outline: none;
  box-shadow: 3px 3px 10px #DADADA;
}

.input-content {
  border: none;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 5px #DADADA;
  height: 75px;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 16px;
  resize: none;
  font-family: Poppins;
}

.input-content:focus {
  outline: none;
  box-shadow: 3px 3px 10px #DDDDDD;
}

.input-button {
  margin-top: 0px;
  background: #4420E7;
  border: none;
  height: 40px;
  min-width: 200px;
  border-radius: 20px;
  color: #F1F6FD;
  font-size: 16px;
  cursor: pointer;
}

.input-button:hover {
  background: #4420E7EF;
  box-shadow: 3px 3px 8px #BABABA;
}

.post {
  border: .5px solid lightgray;
  border-radius: 8px;
  padding: 20px 20px;
  display: flex;
  width: 70%;
  max-width: 600px;
  background-color: #FFFFFF;
  margin-top: 40px;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
}

.post-content-container {
  margin-top: 0px;
  width: 600px;
  margin-left: 15px;
}

.post-top-row {
  display: flex;
  justify-content: space-between;
}

.author {
  margin-top: 10px;
  font-size: 12px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 25px;
}

.content {
  font-size: 14px;
}

.date {
  font-size: 10px;
}